body {
    padding-bottom: 40px;
    margin:         10px;
    text-align:     justify;
}
    
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}

.main {
    margin: 25px 0;
}

.publications > div {
    font-size:  85%;
    line-height: 140%;
    padding:    6px;
}
.publications > div:nth-child(odd) {
    background: #f0f0f0;
}
